@using DataModels;
@using Microsoft.AspNetCore.Identity
@inject UserManager<AppUser> UserManager
@inject Repositories.DentistRepository DentistRepository
@model List<MedicalRecord>
@{
	ViewData["Title"] = "Danh sách Bệnh Án";
	var AccountDentist = await UserManager.GetUserAsync(User);
}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Lần khám</th>
				<th scope="col">Ngày khám</th>
				<th scope="col">Dịch vụ</th>
				<th scope="col">CustomerId</th>
				<th scope="col">DentistExamID</th>
				<th></th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr id ="row-@item.Id-@item.SequenceNumber">
					<th>@item.Id</th>
					<td>@item.SequenceNumber</td>
					<td>@item.ExaminationDate</td>
					<td>@item.Service</td>
					<td>@item.CustomerId</td>
					<td>@item.ExamDentistId</td>
				</tr>


			}
		</tbody>
	</table>
</div>