@using DataModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager
@inject Repositories.CustomerRepository CustomerRepository

<!DOCTYPE html>
<html>
<head>
    <!-- Basic Page Info -->
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>

    <!-- Site favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/vendors/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/vendors/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/vendors/images/favicon-16x16.png">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/core.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/icon-font.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/src/plugins/datatables/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="~/vendors/styles/style.css">
    @await RenderSectionAsync("Styles", required: false)
    @* Toastr *@

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-119386393-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-119386393-1');
    </script>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a style="height: 40px" class="btn btn-success d-flex align-items-center mx-3" asp-controller="Home" asp-action="Index" class="dropdown-toggle no-arrow">
                Trang chủ
            </a>
            @if (SignInManager.IsSignedIn(User))
            {
<<<<<<< HEAD
	
	
=======
	<div class="left-side-bar">
		<div class="brand-logo">
			<a href="index.html">
				<img src="~/vendors/images/deskapp-logo.svg" alt="" class="dark-logo">
				<img src="~/vendors/images/deskapp-logo-white.svg" alt="" class="light-logo">
			</a>
			<div class="close-sidebar" data-toggle="left-sidebar-close">
				<i class="ion-close-round"></i>
			</div>
		</div>
		<div class="menu-block customscroll">
			<div class="sidebar-menu">
				<ul id="accordion-menu">
					<li class="dropdown">
						<a asp-controller="Home" asp-action="Index" class="dropdown-toggle no-arrow">
							<span class="micon dw dw-house-1"></span><span class="mtext">Home</span>
						</a>
					</li>
					@if (SignInManager.IsSignedIn(User))
					{
						
						if (User.IsInRole("Admin"))
						{
							<li class="dropdown">
								<a asp-controller="Administration" asp-action="ListUsers" class="dropdown-toggle no-arrow">
									<span class="micon dw dw-house-1"></span><span class="mtext">User Manager</span>
								</a>
							</li>
							<li class="dropdown">
								<a asp-controller="Medicine" asp-action="Index" class="dropdown-toggle no-arrow">
									<span class="micon dw dw-house-1"></span><span class="mtext">Medicine Manager</span>
								</a>
							</li>
							<li class="dropdown">
								<a asp-controller="MedicineInventory" asp-action="Index" class="dropdown-toggle no-arrow">
									<span class="micon dw dw-house-1"></span><span class="mtext">Medicine_Inventory	 Manager</span>
								</a>
							</li>
						}
						else if (User.IsInRole("Customer"))
						{
							var customer = await UserManager.GetUserAsync(User);
							var customerId = customer.Id;
							<li class="dropdown">
								<a asp-controller="Schedule" asp-action="MakeAppointment" asp-route-customerId="@customerId" class="dropdown-toggle no-arrow">
									<span class="micon dw dw-house-1"></span><span class="mtext">Đặt lịch hẹn</span>
								</a>
							</li>
							
						}
					}
					<li class="dropdown">
						<a href="javascript:;" class="dropdown-toggle">
							<span class="micon dw dw-edit2"></span><span class="mtext">Forms</span>
						</a>
						<ul class="submenu">
							<li><a href="form-basic.html">Form Basic</a></li>
						</ul>
					</li>
					<li>

					</li>
					
				</ul>
			</div>
		</div>
	</div>
	<div class="mobile-menu-overlay"></div>
>>>>>>> 7e05f1625fe117ee25a2a350f239b62c634e9e81

                if (User.IsInRole("Admin"))
                {

                    <a style="height: 40px" class="btn btn-success d-flex align-items-center mx-3" asp-controller="Administration" asp-action="ListUsers">
                        Quản lý User
                    </a>


                    <a style="height: 40px" class="btn btn-success d-flex align-items-center mx-3" asp-controller="Medicine" asp-action="Index">
                        Quản lý thuốc
                    </a>

                }

            }

            <div class="d-flex flex-row align-items-center">
                @if (SignInManager.IsSignedIn(User))
                {
                    if (User.IsInRole("Customer"))
                    {
                        var customer = await UserManager.GetUserAsync(User);
                        var customerId = (await CustomerRepository.GetCustomerByAccountAsync(customer)).Id;
                        <a asp-controller="Schedule" asp-action="MakeAppointment" asp-route-customerId="@customerId" class="btn btn-info" style="height: 40px">
                            Đặt lịch hẹn
                        </a>

                    }
                }
                else
                {

                    <a asp-controller="Schedule" asp-action="MakeAppointment" asp-route-customerId="" class="btn btn-info" style="height: 40px">
                        Đặt lịch hẹn
                    </a>
                }
            </div>
        </div>
        <div class="header-right">

            @if (SignInManager.IsSignedIn(User))
            {

                <div class="d-flex flex-row align-items-center">
                    <span class="badge bg-warning text-light mx-3 fw-500 fs-3">@User.Identity.Name</span>
                    @if (!User.IsInRole("Admin"))
                    {
                        <a class="btn btn-primary mx-3" asp-controller="Account" asp-action="EditProfile" asp-route-username="@User.Identity.Name"><i class="dw dw-user1"></i>Thông tin tài khoản</a>
                    }
                    <form asp-controller="Account" asp-action="Logout" method="post">
                        <button type="submit" class="btn btn-success mx-3">Đăng xuất</button>
                    </form>

                </div>

            }
            else
            {
                <div class="d-flex flex-row align-items-center">
                    <a style="height: 40px" class="btn btn-success d-flex align-items-center mx-3" asp-controller="Account" asp-action="Login">
                        Đăng nhập
                    </a>
                    <a style="height: 40px" class="btn btn-success d-flex align-items-center mx-3" asp-controller="Account" asp-action="Register">
                        Đăng ký
                    </a>
                </div>
            }
        </div>
    </div>

    <div class="mobile-menu-overlay"></div>

    <div class="main-container">
        <div class="pd-ltr-20">
            <div class="card-box pd-20 height-100-p mb-30">
                @RenderBody()
            </div>


            <div class="footer-wrap pd-20 mb-20 card-box">
                @ViewData["Title"]
            </div>
        </div>

    </div>

    <partial name="_ValidationScriptsPartial" />
    <!-- js -->
    <script src="~/vendors/scripts/core.js"></script>
    <script src="~/vendors/scripts/script.min.js"></script>
    <script src="~/vendors/scripts/process.js"></script>
    <script src="~/vendors/scripts/layout-settings.js"></script>

    <script src="~/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="~/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    @* <script src="~/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="~/vendors/scripts/dashboard.js"></script>  *@
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>