@model List<RoleUserModel>

@{
    var userId = ViewData["UserId"];
    var userName = ViewData["UserName"];
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4>@userName</h4>
            </div>
            <div class="card-body">
                <h4 class="card-title">Add or remove Roles from User</h4>
                <div class="text-danger" asp-validation-summary="All"></div>
                <form method="post">
                    <ul class="list-group">
                        <input type="hidden" name="userId" value="@userId" />
                    @for (int i = 0; i < Model.Count(); i++)
                    {
                           
                            <li class="list-group-item">
                                <input type="hidden" asp-for="@Model[i].RoleId" />
                                <input type="hidden" asp-for="@Model[i].RoleName" />
                                <label asp-for="@Model[i].RoleName">@Model[i].RoleName</label>
                                <input asp-for="@Model[i].IsSelected">
                            </li>
                           
                        
                    }
                    </ul>
                    <div class="row my-3">
                        <div class="col-6">
                            <button type="submit" class="btn btn-success btn-block btn-rounded">
                                Save
                            </button>
                        </div>
                        <div class="col-6">
                            <a asp-controller="Administration" asp-action="EditUser" asp-route-id="@userId" 
                            class="btn btn-danger btn-block btn-rounded">
                                Cancel
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

